<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
  <servlet>
    <servlet-name>JettyServlet</servlet-name>
    <servlet-class>com.example.jetty.JettyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JettyServlet</servlet-name>
    <url-pattern>/jetty</url-pattern>
  </servlet-mapping>
</web-app>